.header-container{
    //position: fixed;
    padding: 43px 39px 57px 39px;
    height: 134px;
    background-color:rgba(255, 255, 255, 0.9);
    position:fixed;

    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .button-sign-up{
        background: #EC6571;
        border-radius: 50px;
        width: 135px;
        height: 45px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        display: flex; 
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {  
            display: none;
        
        }
    }

    .button-sign-in{
        border: 2px solid #EC6571;
        box-sizing: border-box;
        border-radius: 50px;
        width: 135px;
        height: 45px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #EC6571;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .menu{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #383F51;
        padding-left: 18px;

        @media (max-width: 768px) {  
            display: none;
        
        }
    }
    .hamburger-container{
        width: 37px;
        height: 27px;
        left: 94.31%;
        right: 3.24%;
        top: 44.03%;
        bottom: 35.82%;
        border-radius: 50px;
    }

    .menu-options{
        align-items: center;
    }
    .flex-row{
        display: flex;
        flex-direction: row;
    }
    .f-left{
        justify-content: start;
    }
    .f-center{
        justify-content: center;
    }
    .f-right{
        justify-content: end;
    }
    .space-buttons{
        width: 12px;
    }
    .space-menu-hamburger{
        width: 23px;
    }

    .menu-container{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-around;
        justify-content: end;
    }
    .search-icon{
        align-items: center;
        @media (max-width: 768px) {  
            display: none;
        
        }
    }
    .button-option{
        padding-left: 42px;
        @media (max-width: 768px) {  
            padding-left: 5px;
        }
    }
    .menu-hamburger{
        // padding-left: 42px;
        align-items: center;
        padding-left:20px;
        @media (max-width: 768px) {  
            padding-left: 2px;
        }
    }
    .f-left{     
        padding-top: 7px;
        padding-left: 10px;
        padding-right: 5px;
        display: none;
        @media (max-width: 768px) {  
            padding-left: 5px;
            padding-right: 2px;
        }
    }
    .f-left-user{
        padding-top: 7px;
        padding-left: 5px;
        padding-right: 5px;
        // display: none;
        @media (max-width: 768px) {  
            padding-left: 5px;
            padding-right: 2px;
        }
    }
    .badge {
        display: inline-block;
        padding: 0.35em 0.65em;
        font-size: .75em;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
        height: 20px;
        position:absolute;
        margin-left: 29px;
        @media (max-width: 768px) {  
            display: none;      
        }
    }

    .sign_icon{
        padding-left: 11px;
        padding-top: 10px;
        @media (max-width: 768px) {  
            display: none;      
        }
    }
    .sign_out{
        font-family: 'Lato';
        font-style: normal;
        font-size: 18px;
        padding-top: 7px;
        display: block;
        padding-left: 8px;
        @media (max-width: 768px) {  
            display: none;      
        }      
    }
    .search-site{
        display: flex;
        flex-direction: column;
        justify-content: end;

        form.nosubmit{
            color: #555;
            display: flex;
            padding: 2px;
            border: 1px solid currentColor;
            border-radius: 5px;
            margin: 0 0 30px;
        }
      
        input[type="search"] {
            border: none;
            background: transparent;
            margin: 0;
            padding: 7px 8px;
            font-size: 14px;
            color: inherit;
            border: 1px solid transparent;
            //border-radius: inherit;
        }
    
        input[type="search"]::placeholder {
            color: #bbb;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            display: flex;
            align-items: center;
            letter-spacing: 0.01em;
            color: #4C4C4C;
        }
    
        button[type="submit"]:focus,
        input[type="search"]:focus {
            // box-shadow: 0 0 3px 0 #1183d6;
            border-bottom-color: #1183d6;
            outline: none;
        }
    
        form.nosubmit {
            border: none;
            padding: 0;
        }
    
        input.nosubmit {
            border-bottom: 1px solid #555;
            width: 100%;
            padding: 9px 4px 9px 40px;
            background-position: left;
            background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='31' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat left;
        }

    }
    .search-icon{
        cursor: pointer;
    }
    .close-icon{
        margin-left: -30px;
        cursor: pointer;
        position: fixed;
    }
}



#popover-header-dropdown{
    width: 553px;
    max-width: unset;
    padding-bottom: 120.88px;

    .search-container-dropdown-mb{
        display: none;

        @media (max-width: 768px) {  
            display: block;
        }

        form.nosubmit{
            color: #555;
            display: flex;
            padding: 2px;
            border: 1px solid currentColor;
            border-radius: 5px;
            margin: 0 0 30px;
        }
      
        input[type="search"] {
            border: none;
            background: transparent;
            margin: 0;
            padding: 7px 8px;
            font-size: 14px;
            color: inherit;
            border: 1px solid transparent;
            //border-radius: inherit;
        }
    
        input[type="search"]::placeholder {
            color: #bbb;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            display: flex;
            align-items: center;
            letter-spacing: 0.01em;
            color: #4C4C4C;
        }
    
        button[type="submit"]:focus,
        input[type="search"]:focus {
            // box-shadow: 0 0 3px 0 #1183d6;
            border-bottom-color: #1183d6;
            outline: none;
        }
    
        form.nosubmit {
            border: none;
            padding: 0;
        }
    
        input.nosubmit {
            border-bottom: 1px solid #555;
            width: 100%;
            padding: 9px 4px 9px 40px;
            background-position: left;
            background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='31' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat left;
        }
    }

    .popover-body{
        .accordion-button{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 42px;
            letter-spacing: 0.02em;
            color: #383F51;
            padding-left: 57px;
        }
        .accordion-body{
            .subtitle{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 50px;
                color: #383F51;
                padding-left: 79px;
            }
            .subtitle-body{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 50px;
                color: #383F51;
                padding-left: 30px;
            }
        }
    }  
    .overContactus{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 53px;
        letter-spacing: 0.02em;
        color: #383F51;
        padding-left: 57px;
    }
    
    .search-across-site{
        border: 2px solid #21506E;
        transform: rotate(180deg);
    }

}